#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-family: "Cutive", serif;
  text-align: center;
  color: #B5003A !important;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  color: #B5003A !important;
}

h2, h3, h4, h5 {
  font-family: "Cutive", serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

p, .content {
  font-family: "Ubuntu", sans-serif;
}

a {
  border-bottom: 1px dashed #999;
  color: black;
}

a:hover {
  color: #B5003A;
}

li a {
  background-color: #B5003A !important;
  color: white !important;
  font-family: "Cutive", serif !important;
}
